/* ------------ Google Fonts ------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* ------------ Variables ------------ */
:root{
  /* Font */
  --font: 'Poppins', sans-serif;

  /* Colors */
  --color: #9176FF;
  --bg-color: #f4f4f4;
}

#about-us{
  font-family: var(--font);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 50px;
  background-color: var(--bg-color);
  color: #1f003b;
}

#about-us h2{
  margin: 0;
  margin-top: 30px;
}


/* ----------- Slider ------------ */
#about-us .swiper{
  width: 100%;
}

#about-us .swiper-wrapper{
  width: 100%;
  height: 35em;
  display: flex;
  align-items: center;
  margin-top: 50px;
}

#about-us .card{
  width: 20em;
  height: 90%;
  background-color: #fff;
  border-radius: 0.5em;
  box-shadow: 0 0 1em #9176FF;
  padding: 2em 1em;

  display: flex;
  align-items: center;
  flex-direction: column;

  margin: 0 2em;
}

#about-us .swiper-slide:not(.swiper-slide-active){
  filter: blur(1px);
 
}

#about-us .swiper-slide:hover {
  background: linear-gradient(#6045ea, #f4f4f4);
  color: #fff;
}

#about-us .swiper-slide:hover {
  transform: scale(1.15);
}

#about-us .card__image{
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border: 5px solid var(--color);
  padding: 3px;
  margin-bottom: 2em;
}

#about-us .card__image img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: 0px 0px;
}

#about-us .card__content{
  display: flex;
  align-items: center;
  flex-direction: column;
}

#about-us .card__title{
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
  top: .2em;
}

#about-us .card__name{
  color: var(--color);
}

#about-us .card__text{
  text-align: center;
  font-size: 1.1rem;
  margin: 1em 0;
}

#about-us .icons {
  width: 40px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

